<app-header></app-header>

<img src="https://images.bewakoof.com/uploads/grid/app/Desktop-All-Order-1619600650.png"  style=" width: 100%; top: 0px;">
<br>

<span style=" text-align: center;"><h3>AUTHOR WISE BOOKS</h3></span>

<br>
<div class="container-fluid col-lg-8 col-xl-9 mx-auto" >

    <div class="card" *ngFor="let detail of authordetails " style="width: 15rem; height: 40rem; display: inline-flex; padding: 10px; margin: 5px;">
      <a routerLink ="/testdetails/{{detail._id}}"><img class="card-img-top" src="{{detail.thumbnailUrl}}" alt="Card image cap"> </a> 
      <div class="card-body" style="height: 10rem ">
        <h5 class="card-title" style="text-align: center;">{{detail.title}}</h5>
        <p class="card-text" style="text-align: center;"> {{detail.authors}}</p>

            <p class="card-text" style="text-align: center;"><small class="text-muted">{{detail.categories}}</small></p>
          </div>
            <span class="card-body">
              <button class="btn">
                <i class="bi bi-heart-fill " ></i>
              </button>
              <button class="btn" style="float: right;">

              <i class="bi bi-cart-plus-fill"></i>
              </button>
            </span>
          
    </div>
    
</div>


<app-footer></app-footer>
