
<body (click)="checkd()">
 
<nav class=" navbar navbar-expand-lg   py-lg-0 " >
  
  <a class="navbar-brand" style="margin-right:5%" href="#">

<span>      <img src= "assets/images/logo2.png"
      width="270" height="100" alt=""> </span>
  </a>
    

  <button class="navbar-toggler "  type="button"
          data-toggle="collapse" 
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
            
          <span class="navbar-toggler-icon">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#fdae2f" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </span>
  </button>

  <div class="collapse navbar-collapse"
          id="navbarResponsive">
          <div>          
            <form class="form-inline my-2 my-lg-0" >
    <input class="form-control mr-sm-2" style=" position: relative;padding-right:50%;" type="search" name="search" [(ngModel)]="searchText" (keypress)="checkf()" autocomplete="off" placeholder="Search Here">
  </form>
  <div style="overflow-y: scroll; height: 200px;width: 300px; position: absolute; top: 100px; background-color: seashell; border: gray 1px solid; " [hidden]= "check">
    <div *ngFor="let hero of details | filter:searchText">
      <div>
        <a routerLink ="/testdetails/{{hero._id}}" (click)="redic(hero._id)">  {{hero.title}}</a>
      </div>
    </div>
   
  </div>

</div>

      <ul class="navbar-nav ml-auto">
          <li class="nav-item active" >
              <a class="nav-link" href="#">
                <p class="navitem"> HOME  &nbsp;&nbsp; 
                  <i class="bi bi-house-fill"></i>
              </p>
                
              </a>
          </li>

          <li class="nav-item">
            <p style="width:20px"></p>
        </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navitem" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hello {{username | uppercase}} 
              
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item dropnavitem " href="#">Your Acconut </a>
              <a class="dropdown-item dropnavitem" href="#">Your Orders </a>
              <div class="dropdown-divider"></div>
    <!-- <a class="dropdown-item navitemlogout"> <strong> Logout </strong></a> -->
    <button class="dropdown-item navitemlogout" (click)="logout()">Logout</button>
            </div>
          </li>

      
        <li class="nav-item">
          <p style="width:20px"></p>
      </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/cart/{{username}}">
                <p class="navitem"> CART &nbsp;&nbsp;
                  <i class="bi bi-cart-plus-fill"></i>
                </p>
                </a>
          </li>
            
        <li class="nav-item">
              <p style="width:20px"></p>
          </li> 
        <li class="nav-item">
              <a class="nav-link" routerLink="/wishlist/{{username}}">
                <p class="navitem">WISHLIST  &nbsp;&nbsp;
                  <i class="bi bi-heart-fill " ></i>

                </p>
                </a>
          </li>
         
      </ul>
  </div>
</nav>
</body>
<br><br>

