
<div class="backtotop"  (click)="backtotop()">
    
    <p>   Back To Top  &nbsp;&nbsp; <i class="bi bi-arrow-up-square"></i></p>

    </div> 

<div class="footer">
    <div class="container">
        <br>
            <div class="col-6 col-sm-6 ">
                    <img src="assets/images/logo2.png" height="60" width="150">
            </div>
        <br>
        <br>
        <section style="display: flex;">
            <div class="col-sm-6 col-md-3 " >
                <span class="footerTitle ">CUSTOMER SERVICE</span>
                <ul >
                    <li>
                        Contact Us
                    </li>
                    <li>
                        Track Order
                    </li>
                    <li>
                        Return Order
                    </li>
                    <li>Cancel Order

                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-3 ">
                <span class="footerTitle">COMPANY DETAILS</span>
                <ul>
                    <li>
                        About Us
                    </li>
                    <li>
                        Terms & Conditions
                    </li>


                </ul>
            </div>

            <div class="col-sm-6 col-md-3 ">
                <span class="footerTitle">SOCIAL CONNECTS </span>
                <ul>
                    <li>
                        Facebook
                    </li>
                    <li>
                        Instagram
                    </li>
                    <li>
                        Twitter
                    </li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6 hidden-xs">
                <span class="footerTitle">WRITE TO US</span>
                    <form name="writetous" >
                        <input type="email" value="" class="form-control col-xs-7" required="">
                        <br>
                        <input type="submit" class =" subbtn"value="SUBMIT" class=" col-xs-5">
                    </form>
            </div>
        </section>
        <br>
        <div class="copyright-section">
            <div class="row">
              <div class="col-lg-6">
                <p>© Copyright 2021 The Story Shop. <span>All rights reserved.</span></p>
              </div>
              <div class="col-lg-6 text-right">
                <p>  Privacy Policy </p>
              </div> 
            </div>
          </div>
    </div>

 
</div>
